.container {
  margin: 0 auto;
  padding: 10px;
}

.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-box {
  background-color: #8bc34a;
  padding: 10px;
  border-radius: 5px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button {
  background-color: #8bc34a;
  border: none;
  padding: 10px;
}

.country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.country-box {
  flex-basis: calc(80% - 20px); /* Adjust the width as needed */
  background-color: #8bc34a;
  padding: 20px;
  border-radius: 5px;
}

.country-box h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.country-box p {
  margin: 0;
}
